[Unit]
Description=this is my WebServer

[Service]
Type=simple
ExecStart=/WebServer/start.sh start
ExecStop=/WebServer/start.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target